
// color variables
$primary_button_color: #7F8CAA;
$primary_button_hover_color: #b0c2ec;
$success_color: #B8CFCE;
$success_hovor_color: #defaf9;
$title_color: #EAEFEF;
$bg_color: #EAEFEF;
$primary_text_color: #EAEFEF;



body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: $bg_color;
}

.content{
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    color: $primary_text_color;
    background-color: #333446;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;

    h1{
        color: $title_color;
    }

    h4{
        color: $primary_text_color;
    }

    table{
        width: 100%;
        margin-top: 20px;
        border-collapse: collapse;

        th,td{
            padding: 10px;
            border: 1px solid #ccc;

            th{
                background-color: #f0f0f0;
                color: $primary_text_color;
            }
        }
    }
    
    a{
        display: inline-block;
        padding: 8px 16px;
        margin: 5px;
        border-radius: 20px;
        background-color: $primary_button_color;
        color: #fff;
        text-decoration: none;
        transition: background-color 0.3s ease;


        &:hover{
            background-color: $primary_button_hover_color;
        }
    }

    input {
        padding: 10px;
        margin: 5px;
        border: solid 1px;
        border-radius: 5px;
    }

    #btn_add {
        background-color: $success_color;
        color: #fff;
        cursor: pointer;
        &:hover {
            background-color: $success_hovor_color;
        }
    }
}